<td>{{list.name}}</td>
<td>
  {{#if isEditable}}
    <select onchange={{action 'handleCategoryChange' value="target.value"}}>
      <option value=''>Select</option>
      {{#each-in categories as |category id|}}
        <option value={{id}} selected={{eq list.category id}}>{{category}}</option>
      {{/each-in}}
    </select>
  {{else}}
    {{selectedCategory}}
  {{/if}}
</td>
