<td>{{member.fullName}}</td>
<td>{{member.userName}}</td>
<td>
  <select onchange={{action 'handleJobProfileChange' value="target.value"}}>
    {{#each-in jobProfiles as |jp id|}}
      <option value={{id}} selected={{eq member.jobProfile id}}>{{jp}}</option>
    {{/each-in}}
  </select>
</td>
<td>
  {{#if (eq member.jobProfile jobProfiles.developer)}}
    {{input value=member.expectedPoints
      focusOut=(action attrs.handleRecordChange member)
      class='points-field'}}
  {{/if}}
</td>
