<header>
  <div class='loader'>
    <div class='loader--dot'></div>
    <div class='loader--dot'></div>
    <div class='loader--dot'></div>
    <div class='loader--dot'></div>
    <div class='loader--dot'></div>
    <div class='loader--dot'></div>
  </div>
  <div class="nav">
    <ul>
      <li>{{#link-to 'home'}}Home{{/link-to}}</li>
      <li>{{#link-to 'card'}}Cards{{/link-to}}</li>
      <li class={{unless isAdmin 'hide'}}>{{#link-to 'sprint'}}Sprint{{/link-to}}</li>
      <li class={{unless isAdmin 'hide'}}>{{#link-to 'member'}}Members{{/link-to}}</li>
      <li class={{unless isAdmin 'hide'}}>{{#link-to 'list'}}List{{/link-to}}</li>
      <li class={{unless isAdmin 'hide'}}><a href="#">Holidays</a></li>
      <li>{{#link-to 'leave'}}Leave{{/link-to}}</li>
    </ul>
  </div>
</header>

<div id="main-container">
  {{outlet}}
</div>

<a id="logout-btn" href="javascript:void(0)" onClick={{action "logout"}}
  class={{unless isAuthenticated "hide"}}>
  <div></div>Logout
</a>
