{{pull-button data='all data'
  pullSucessfullMessage='Data pulling scheduled. Please refresh after 2 min'
  handleDataPulling=(action 'pullAllData')}}

<div id='stats-details'>
  <div id='sprint-name'>Sprint name: {{get (get model 'meta') 'current_sprint_name'}}</div>
  {{#if lastSyncedTime}}
    <div id='last-sync-time'>Last synced {{lastSyncedTime}}</div>
  {{/if}}
</div>

<table class='themed-table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Expected Points</th>
      <th>In doing</th>
      <th>In Q/A</th>
      <th>Q/A passed</th>
      <th>Accepted</th>
      <th>Complete Percentage</th>
      <th>Incomplete Percentage</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |member|}}
      <tr>
        <td>{{member.fullName}}</td>
        <td>{{member.pointStats.expected_points}}</td>
        <td>{{member.pointStats.doing}}</td>
        <td>{{member.pointStats.in_qa}}</td>
        <td>{{member.pointStats.qa_pass}}</td>
        <td>{{member.pointStats.accepted}}</td>
        <td>{{member.completedPercentage}}</td>
        <td>{{member.incompletePercentage}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
