{{! {{trello-authenticate trelloAuthSuccess=(action "sendTrelloTokenToServer") }}

<table class='themed-table'>
  <thead>
    <tr>
      <th>Member Name</th>
      <th>Expected Points</th>
      <th>In doing</th>
      <th>In Q/A</th>
      <th>Q/A passed</th>
      <th>Accepted</th>
      <th>Completed Percentage</th>
      <th>InCompleted Percentage</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |member|}}
      <tr>
        <td>{{member.full_name}}</td>
        <td>{{member.point_stats.expected_points}}</td>
        <td>{{member.point_stats.doing}}</td>
        <td>{{member.point_stats.in_qa}}</td>
        <td>{{member.point_stats.qa_passed}}</td>
        <td>{{member.point_stats.accepted}}</td>
        <td>{{member.completed_percentage}}</td>
        <td>{{member.incompleted_percentage}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
